
body {
  background-color: #171921;
  color: #f8f8f2;
  font-family: "Lato", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

table {
  margin-top: 15pt;
  border-collapse: collapse;
}

table td, table th {
  padding: 0.3em 0.4em;
}

td.nick {
  border-left: 1px solid #44475a;
  border-right: 1px solid #44475a;
  text-align: right;
}

tr.join td.msg, tr.join td.nick {
  color: #50fa7b;
}

tr.quit td.msg, tr.quit td.nick {
  color: #ff5555;
}

tr.nick td.msg, tr.nick td.nick {
  color: #6272a4;
}

tr.part td.msg, tr.part td.nick {
  color: #ffb86c;
}

tr.action td.msg, tr.action td.nick {
  color: #C609DB;
}

a:link, a:visited {
  color: #8be9fd;
  text-decoration: none;
}

a:hover {
  color: #8be9fd;
  text-decoration: underline;
}

#controls {
  font-size: 16pt;
  text-align: center;
}

hr {
  background-color: #44475a;
  border:0;
  height: 2px;
}

td.selected {
  background-color: #F8EEC7;
  color: #000000 !important;
}

a.time {
  color: #f8f8f2;
  text-decoration: none;
}

a.time:hover {
  color: #BABABA;
}
